<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#pablo" style="background-color: purple; color: white; padding: 10px;">ADMINISTRACION</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      {% if request.user.is_authenticated %}
     
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: purple;">
            <i class="material-icons" style="font-size: 24px; vertical-align: middle;">person</i>
            <span style="margin-left: 5px; vertical-align: middle;">{{ user.username }}</span>
            <p class="d-lg-none d-md-block" style="color: purple;">
              Account
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile" style="border: 2px solid purple;">
            <a class="dropdown-item" href="/page-user.html" style="color: purple;">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}" style="color: purple;">Log out</a>
          </div>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

<style>
  .search-bar {
    background-color: #fff; /* Fondo blanco */
    border-radius: 30px; /* Bordes más redondeados */
    border: 2px solid purple; /* Borde morado */
    padding: 15px; /* Espaciado interno */
    width: 400px; /* Ancho mayor */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .search-bar:focus {
    outline: none; /* Elimina el contorno al hacer clic */
    border-color: #8e24aa; /* Cambia el color del borde al enfocar */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  }
  
  .search-button {
    border-radius: 30px; /* Bordes más redondeados */
    margin-left: -50px; /* Alineación del botón */
  }
</style>
