{% extends "layouts/base.html" %}

{% block title %} COCINA {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: purple;
        margin-bottom: 20px;
    }

    p {
        color: #333;
        margin-bottom: 20px;
    }

    button[type="submit"] {
        background-color: purple;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #6A1B9A;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <h1>Confirmar Eliminación de Incidencia</h1>
    <p>¿Estás seguro de que deseas eliminar esta incidencia?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
    </form>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
