{% extends "layouts/base.html" %}

{% block title %} Lista de Almacenes {% endblock %} 

{% block content %}
<style>
    /* Estilos CSS */
    .container {
        max-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column; /* Cambiado a columna para que los elementos estén uno debajo del otro */
    }
    
    h2 {
        margin-bottom: 20px;
        color: purple;
        font-weight: bold; /* Título en negrita */
    }
    
    form {
        margin-bottom: 20px;
    }
    
    .table-container {
        flex-grow: 1;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
    }
    
    th {
        background-color: purple;
        color: white;
        font-weight: bold; /* Título en negrita */
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    button {
        background-color: purple;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #6A1B9A;
    }
    
    /* Estilos de estado */
    .estado {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: bold;
    }
    
    .activo-si {
        background-color: green;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
    }

    .activo-no {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
    }

    /* Agrega otros estilos según sea necesario */
</style>

<div class="container">
  <h2>Dispositivos en Uso</h2>
  <!-- Botón para añadir inventario -->
  <a href="{% url 'inventario_create' %}" class="btn btn-primary">Añadir Inventario</a>
  
  <!-- Agrega aquí el formulario para filtrar, si es necesario -->
  
  <div class="table-container">
    <table border="1">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Especificaciones</th>
          <th>Puesto</th>
          <th>Usuario</th>
          <th>Estado</th>
          <th>Activo</th>
          <th>Acciones</th> <!-- Añadido -->
        </tr>
      </thead>
      <tbody>
        {% for item in inventarios %}
        <tr>
          <td>{{ item.tipo }}</td>
          <td>{{ item.especificaciones }}</td>
          <td>{{ item.puesto }}</td>
          <td>{{ item.usuario}}</td>
          <td>{{ item.estado }}</td>
          <td>
            {% if item.activo == 'Si' %}
            <div class="activo-si"></div>
            {% else %}
            <div class="activo-no"></div>
            {% endif %}
          </td>
          <td>
            <!-- Botones para editar, borrar e añadir incidencia -->
            <a href="{% url 'inventario_update' item.pk %}" class="btn btn-info">Editar</a>
            <a href="{% url 'inventario_delete' item.pk %}" class="btn btn-danger">Borrar</a>
            <a href="{% url 'incidencia_create2' item.pk %}" class="btn btn-primary">Añadir Incidencia</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No se encontraron registros.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
