{% extends "layouts/base.html" %}

{% block title %} Perfil Usuario {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"> Perfil</h4>
                  <p class="card-category">Para editar perfil comunique al Administrador</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">ID</label>
                          <input type="text" class="form-control" value="{{ user.id }}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Usuario</label>
                          <input type="text" class="form-control" value="{{ user.username }}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control" value="{{ user.email }}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primer Apellido</label>
                          <input type="text" class="form-control" value="{{ user.first_name }}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segundo Apellido</label>
                          <input type="text" class="form-control" value="{{ user.last_name }}">
                          
                        </div>
                      </div>
                    </div>
                    
                  
                     <!-- <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
                 -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
