 {% extends "layouts/base.html" %}

{% block title %} COCINA {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        display: inline;
    }

    .menu ul li a {
        text-decoration: none;
        padding: 10px 20px;
        color: #333; /* Color del texto */
        background-color: #f2f2f2; /* Color de fondo */
        border: 1px solid #333; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
    }

    .menu ul li a:hover {
        background-color: #ddd; /* Cambio de color al pasar el ratón */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #000; /* Borde de la tabla */
    }

    th, td {
        border: 3px solid #000; /* Bordes de las celdas */
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

.submenu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .submenu ul li {
        display: inline;
    }

    .submenu ul li a {
        text-decoration: none;
        padding: 8px 16px;
        color: #fff; /* Color del texto */
        background-color: grey; /* Color de fondo */
        border: 1px solid grey; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
    }

    .submenu ul li a:hover {
        background-color: #45a049; /* Cambio de color al pasar el ratón */
    }
</style>


<div class="menu">
    <ul>
        <li><a href="/cocina/">Inicio</a></li>
        <li><a href="/cocina/educacion/">Educación</a></li>
        <li><a href="/cocina/residencia/">Residencias</a></li>
        <li><a href="/cocina/ocupacional/comida/9/">Ocupacional</a></li>
        <li><a href="/cocina/unidaddia/">Unid Dia</a></li>
    </ul>
</div>

<br>
<br>
<h2>Lista de Carritos de Educacion</h1>
<br>
<br>

<div class="submenu">
    <ul>
        <li><a href="/cocina/unidaddia/comida/10/">Carrito 10</a></li>
        <li><a href="/cocina/unidaddia/comida/11/">Carrito 11</a></li>
        
    </ul>
</div>
<br>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
