{% extends "layouts/base.html" %}

{% block title %} Elige el ciclo {% endblock %} 

{% block content %}
<style>
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        display: inline;
    }

    .menu ul li a {
        text-decoration: none;
        padding: 10px 20px;
        color: #333; /* Color del texto */
        background-color: #f2f2f2; /* Color de fondo */
        border: 1px solid #333; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
    }

    .menu ul li a:hover {
        background-color: #ddd; /* Cambio de color al pasar el ratón */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #000; /* Borde de la tabla */
    }

    th, td {
        border: 3px solid #000; /* Bordes de las celdas */
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .form-container {
        float: left; /* Alinea el formulario a la izquierda */
        width: 50%; /* Ocupa el 50% del ancho del contenedor padre */
    }

    .comidas-container {
        float: right; /* Alinea las comidas a la derecha */
        width: 50%; /* Ocupa el 50% del ancho del contenedor padre */
    }

</style>
<h1>Crear Postre/Extra</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>

<div class="comidas-container">
    {% if postre_hoy %}
      <div>
        <h3>Postres agregados hoy:</h3>
        <ul>
          {% for postre in postre_hoy %}
            <li>{{ postre.tipo_postre }} -{{ postre.cantidad }} </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>

{% endblock content %}
