{% extends "layouts/base.html" %}

{% block title %} Confirmar Eliminación de Usuario {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4 mb-4">Confirmar Eliminación de Usuario</h2>
            <p>¿Estás seguro de que deseas eliminar este usuario?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" style="background-color: purple; border-color: purple;">Confirmar Eliminación</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
