{% extends "layouts/base.html" %}

{% block title %} COCINA {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

CARRITO 1

 {% for Carrito_1 in object_list %}
        <a href="{{ Carrito_1.id }}/",  style="text-decoration:none", style="text-decoration-color: black;"> <li>{{Carrito_1.General }}</li></a> <br> <br>
    
        {% endfor %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
